body {
    background-image: url('../images/cookingflames.png');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    background: coral;
    opacity: .9;
}

.head {
    text-align: center;
}

.subHead {
    text-align: center;
}

.timer {
    text-align: center;
    font-weight: bold;
}

.question {
    text-align: center;
    font-weight: bold;
}
 .textChoices {
     text-align: center;
     width: 70%;
     margin: 0 auto;
     padding-left: 25%;
 }
.radio-inline {
    text-align: center;
}

 input {
     float: left;
     margin-left: 20px;
     text-align: center;
}
.gameOverPage {
    background: red;
}
